<div class = 'addresses-container'>
    <h1>Guest List</h1>
    <h2 ng-if='guests.length === 0'>No one has RSVP'd yet</h2>
    <div ng-if='guests.length > 0' class = 'mobile-addresses'>
        <div class = 'mobile-address' ng-repeat = 'guest in guests'>
            <h2>{{guest.firstname}} {{guest.lastname}}</h2>
            <p>Email: {{guest.email}}</p>
            <p>Number in Party: {{guest.numberinparty}}</p>
            <div class = 'bottom-border'></div>
        </div>
    </div>
    <div ng-if='guests.length > 0' class = 'desktop-addresses'>
            <div ui-grid="{ data: rsvpOptions.data, 
                            enableFiltering: true,
                            columnDefs: rsvpOptions.columnDefs,
                            enableGridMenu: true,
                            showColumnFooter: true }"
                id="rsvpTable"
                ui-grid-exporter  
                class="myGrid"></div>
        
    </div>
</div>